@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff") format("woff");
}

body {
  margin: 0;
  background-color: #13181e;
  color: #f8f9fa;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
